spring:
  application:
    name: sismo-platform
  config:
    import: optional:application-secrets.yaml
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
    display-request-duration: true
app:
  security:
    enabled: ${APP_SECURITY_ENABLED:true}
  admin:
    username: ${APP_ADMIN_USERNAME:admin_user}
    password: ${APP_ADMIN_PASSWORD:${ADMIN_PASSWORD:}}
